.container {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

.photoContainer {
  grid-area: 1 / 3 / 13 / 7;
  position: relative;
}
.nomContainer {
  grid-area: 1 / 5 / 3 / 12;
  top: 0;
  left: 0;

  /* background-color: red; */
}

.nom {
  position: absolute;
  font-family: var(--font-combine);
  font-size: 70px;
  font-weight: 600;
  color: #a2d2ff;
  top: 14%;
  left: 46%;
}

.nomFamille {
  display: block;
  margin-top: 20px;
  color: #a2d2ff;
}

.bioTitle {
  grid-area: 3 / 8 / 4 / 12;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: var(--font-inter);
  color: #a2d2ff;
}

.bio {
  grid-area: 4 / 8 / 13 / 12;
}

.texteBio {
  margin-bottom: 20px;
  margin-top: 20px;
  text-justify: auto;
}

/* SHAPES */
.zigZag {
  --a: 90deg; /* control the angle */
  --s: 100px; /* size of the zig-zag */
  --b: 35px; /* control the thickness */

  background: #ff9770;
  height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  width: 100%;
  --_g: var(--s) repeat-x
    conic-gradient(
      from calc(var(--a) / -2) at bottom,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask: 50% calc(-1 * var(--b)) / var(--_g) exclude, 50% / var(--_g);
}

.barreLatérale {
  grid-area: 4 / 12 / 13 / 12;
  background-color: #a2d2ff;
  width: 10px;
  margin-left: 60%;
  border-radius: 50px;
}
