.parent {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.photoContainer {
  grid-area: 2 / 1 / 13 / 7;
  position: relative;
  background-color: blueviolet;
}
.shape1 {
  grid-area: 1 / 1 / 2 / 13;
  background-color: aqua;
  margin: auto;
  width: 80%;
  height: 10px;
  border-radius: 50px;
}
.titreContainer {
  margin-top: 3%;
  grid-area: 2 / 5 / 5 / 10;
}

.titre {
  position: absolute;
  font-family: var(--font-combine);
  font-size: 5rem;
  font-weight: 200;
  color: #ffd670;
}

.texteContainer {
  grid-area: 3 / 7 / 13 / 12;
  background-color: orange;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texteBio {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  text-justify: inter-word;
  background-color: blue;
}

.shapeInText {
  width: 100%;
  height: 10px;
  background-color: aqua;
}

.shape2Container {
  grid-area: 1 / 12 / 13 / 13;
  background-color: greenyellow;
}
