.parent {
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

/* Titre */
.titre {
  font-family: var(--font-primary);
  font-weight: 200;
  color: var(--color-primary);
  width: 100%;
  text-align: center;
}
