.parent {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.container {
  color: #ffffff;
  background-color: #d4a4ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: var(--font-geist-mono, "Courier New", monospace);
}

.content {
  max-width: 25%;
  line-height: 1.5;
  margin: 2%;
}

/* Titres et textes */
.title {
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.eventLocation {
  font-size: 1rem;
  font-weight: bold;
}

.time {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Diviseur blanc */
.divider {
  border-top: 1px solid #ffffff;
  margin: 10px 0 20px;
}
