.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #ffc8dd;
}
.titre {
  grid-area: 1 / 1 / 2 / 13;
  font-family: var(--font-combine, Arial, sans-serif);
  text-align: center;
  font-size: 4em;
  max-width: 100%;
  margin-top: 2%;
  line-height: 150%;
}
.text {
  font-family: var(--font-geist-mono, "Courier New", monospace);
  text-indent: 1em;
  padding: 2%;
  margin-top: 2%;
}

.noms {
  font-family: var(--font-combine, Arial, sans-serif);
}

.leftContainer {
  height: auto;
  width: 100%;
  text-align: center;
  text-justify: inter-word;
}

.rightContainer {
  height: auto;
  width: 100%;
  text-decoration: none;
  color: black;
  padding-left: 2%;
}

@media (min-width: 300px) and (max-width: 780px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .titre {
    font-size: 20px;
    display: block;
    padding-top: 7%;
    margin-top: 2%;
  }
  .leftContainer {
    height: auto;
    width: 100%;
    margin-top: 5%;
    padding: 2%;
  }
  .noms {
    width: 100%;
    text-align: center;
    font-family: var(--font-combine, Arial, sans-serif);
    line-height: 2;
  }
  .rightContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #ffc8dd;
  }
  .letter {
    margin-top: 25%;
    font-family: var(--font-combine, Arial, sans-serif);
    position: absolute;
    font-size: 60px;
    cursor: pointer;
  }
  .p {
    top: 0;
    left: 10%;
  }
  .t {
    top: 150px;
    right: 10%;
  }
  .o1 {
    top: 100px;
    left: 30%;
  }
  .r {
    top: 50px;
    left: 60%;
  }
  .f {
    top: 220px;
    left: 15%;
  }
  .o2 {
    top: 300px;
    left: 50%;
  }
  .l {
    top: 350px;
    left: 5%;
  }
  .i {
    top: 400px;
    left: 40%;
  }
  .o3 {
    top: 470px;
    right: 15%;
  }
}

@media (min-width: 781px) and (max-width: 1080px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .titre {
    font-size: 30px;
    margin-top: 5%;
  }
  .rightContainer {
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: #ffc8dd;
  }

  .letter {
    margin-top: 20%;
    font-family: var(--font-combine, Arial, sans-serif);
    position: absolute;
    font-size: 60px;
    cursor: pointer;
  }

  .p {
    top: 0;
    left: 8%;
  }

  .o1 {
    top: 50px;
    left: 28%;
  }
  .r {
    top: 35px;
    left: 49%;
  }

  .t {
    top: 150px;
    left: 70%;
  }

  .f {
    top: 220px;
    left: 12%;
  }
  .o2 {
    top: 280px;
    left: 28%;
  }
  .l {
    top: 350px;
    left: 45%;
  }
  .i {
    top: 400px;
    left: 65%;
  }
  .o3 {
    top: 470px;
    right: 13%;
  }
}

/* @media (min-width: 1081px) and (max-width: 1220px) {
} */
