.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Empêche tout dépassement */
}

.photosContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageWrapper :global(img) {
  position: absolute;
  top: 0;
  left: 0;
}

.logoWrapper {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 20%; /* Taille du logo par défaut */
  max-width: 150px;
}

.logoWrapper :global(img) {
  width: 100%;
  height: auto;
}

/* Écrans moyens */
@media (max-width: 768px) {
  .logoWrapper {
    top: 25%; /* Ajuste la position verticale */
    left: 10%;
    width: 30%; /* Augmente la taille */
  }
  .photosContainer {
    height: 100%;
  }
}

/* Petits écrans */
@media (max-width: 480px) {
  .logoWrapper {
    top: 15%;
    left: 50%; /* Centrage horizontal */
    width: 40%; /* Taille adaptée aux petits écrans */
  }
}
