.container {
  /* background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #f31987 68% 70%,
        #0000 72%
      )
      32px 32px / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #f31987 68% 70%,
        #0000 72%
      )
      32px 32px / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #f31987 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 32px) calc(2 * 32px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #f31987 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 32px) calc(2 * 32px),
    repeating-conic-gradient(#bde0fe 0 25%, #0000 0 50%) 0 0 / calc(2 * 32px)
      calc(2 * 32px),
    radial-gradient(#0000 66%, #f31987 68% 70%, #0000 72%) 0 calc(32px / 2) /
      32px 32px #bde0fe; */
  width: 100%;
  height: auto;
}

.titreContact {
  text-align: center;
  padding: 5%;
  font-size: 5rem;
  font-family: var(--font-combine);
}
.publicationContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 2%;
}
.publication {
  padding: 2%;
}
.dev {
  padding: 2%;
}
.hebergement {
  padding: 2%;
}
.titre {
  font-family: var(--font-geist-mono, "Courier New", monospace);

  font-size: 2rem;
}
.texte {
  /* margin-top: 5%; */
  font-family: var(--font-geist-mono, "Courier New", monospace);
  line-height: 1.5;
  font-size: 1em;
}
.droits {
  max-width: 50%;
  padding: 2%;
}
.credits {
  padding: 2%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 2%;
    height: fit-content;
  }
  .titreContact {
    font-size: 3rem;
  }
  .publicationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .droits {
    width: 100%;
    height: auto;
  }
  .titre {
    text-align: center;
    font-size: var(--font-size-title-mobile);
    width: 100%;
  }
  .texte {
    font-size: var(--font-size-body);
  }
}
