.container {
  width: 100%;
  min-height: 100vh; /* Permet au conteneur de s'agrandir si le contenu dépasse */
  position: relative;
}

.titre {
  color: white;
  font-family: var(--font-combine);
  font-size: clamp(2rem, 5vw, 5rem);
  position: absolute;
  max-width: 90%;
  line-height: 1.5;

  /* Centrer horizontalement et verticalement */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Décale pour centrer parfaitement */
  text-align: center; /* Centre le texte à l'intérieur */
}

.titreSuite {
  display: block;
  margin-top: 3%;
  text-align: center;
}

@media (max-width: 768px) {
  .titre {
    font-size: 2rem;
  }
  .titreSuite {
    font-size: 2rem;
  }
}

@media (min-width: 300px) and (min-width: 767px) {
  .container {
    position: relative;
  }
  .titre {
    font-size: clamp(1.2rem, 8vw, 2.5rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .titreSuite {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .titre {
    font-size: 6rem;
  }
}
