.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: auto;
}

.leftContainer {
  grid-area: 2 / 1 / 11 / 10;
  background-color: #ff9770;
}

.rightContainer {
  grid-area: 3 / 7 / 10 / 13;
  background-color: #ffd670;
}

.textDescription {
  text-align: justify;
  margin-top: 5%;
  font-family: var(--font-geist-mono, "Courier New", monospace);
  padding: 2%;
  text-indent: 1em;
  line-height: 1.5;
  width: 100%;
}
.textDescriptionRight {
  text-align: justify;
  margin-top: 5%;
  font-family: var(--font-geist-mono, "Courier New", monospace);
  padding: 2%;
  text-indent: 1em;
  line-height: 1.5;
  width: 100%;
}

.titre {
  grid-area: 1 / 1 / 2 / 13;
  margin-top: 2%;
  line-height: 150%;
  font-family: var(--font-combine, Arial, sans-serif);
  text-align: center;
  font-size: 4em;
  width: 100%;
}

.sousTitre {
  font-family: var(--font-combine, Arial, sans-serif);
  font-size: 20px;
  line-height: 2;
  text-align: center;
  padding-top: 5%;
}

@media (min-width: 300px) and (max-width: 780px) {
  .parent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .titre {
    font-size: 2em;
    display: block;
  }
  .leftContainer {
    height: auto;
    width: 100%;
    padding: 2%;
  }

  .rightContainer {
    height: auto;
    width: 100%;
    padding: 2%;
  }

  .textLeft {
    width: 100%;
    height: 80%;
    padding: 2%;
  }

  .sousTitre {
    padding-top: 7%;
    margin-top: 2%;
  }
}

@media (min-width: 781px) and (max-width: 1080px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .titre {
    font-size: 50px;
    text-align: center;
  }

  .textDescription {
    width: 80%;
  }
  .textDescriptionRight {
    width: 80%;
  }
  .rightContainer {
    width: 100%;
    padding: 2%;
  }

  .textRight {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
