/* Base Styles (Desktop) */
.parent {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd670;
}

.titreContainer {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-combine, Arial, sans-serif);
  padding: 5%;
  color: aliceblue;
}

.titre {
  font-size: 5rem;
}

.sousTitre {
  font-size: 4rem;
}

.contentContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  font-family: var(--font-geist-mono, "Courier New", monospace);
  line-height: 1.5;
  padding-bottom: 2%;
}

.datesPassees {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 49%;
  gap: 1rem;
}

.datesPassees p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.shapeContainer {
  background-color: aliceblue;
  border-radius: 25px;
  width: 6px;
  min-height: 80vh;
}

.datesAvenir {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 49%;
}

.datesAvenir p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Responsive Styles for Smartphones */
@media (max-width: 768px) {
  .titreContainer {
    flex-direction: column;
    text-align: center;
    padding: 10%;
  }

  .titre {
    font-size: 3rem;
  }

  .sousTitre {
    display: none;
  }

  .contentContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .datesAvenir {
    order: 1;
    width: 90%;
    margin-bottom: 2%;
  }

  .datesPassees {
    order: 2;
    width: 90%;
  }

  .shapeContainer {
    display: none;
  }
}

/* Responsive Styles for Medium Screens */
@media (max-width: 1439px) and (min-width: 769px) {
  .titreContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
  }

  .titre {
    font-size: 3rem;
  }

  .sousTitre {
    font-size: 2rem;
  }

  .contentContainer {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
  }

  .datesPassees,
  .datesAvenir {
    width: 45%;
    margin-top: 2%;
  }

  .shapeContainer {
    width: 4px;
    min-height: auto;
  }
}

/* Responsive Styles for Large Screens */
@media (min-width: 1440px) {
  .parent {
    width: 100%;
    min-height: 100vh;
    background-color: #ffd670;
    padding-top: 2%;
  }

  .titreContainer {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font-combine, Arial, sans-serif);
    color: aliceblue;
  }

  .titre {
    font-size: 5rem;
  }

  .sousTitre {
    font-size: 3rem;
  }

  .contentContainer {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
  }

  .datesPassees,
  .datesAvenir {
    width: 40%;
    gap: 1.5rem;
    margin-top: 2%;
  }

  .datesPassees p,
  .datesAvenir p {
    margin-bottom: 1.5rem;
  }

  .shapeContainer {
    width: 6px;
    min-height: 100%;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 0 2%;
  }
}
