.parent {
  width: 100vw;
  min-height: auto;
  background-color: #a2d2ff;
  padding: 10px;
}

.titre {
  margin-top: 6%;
  line-height: 150%;
  font-family: var(--font-combine, Arial, sans-serif);
  color: white;
  text-align: center;
}

.photoContainer {
  position: relative;
}

.descContainer {
  text-align: justify;
  font-family: var(--font-geist-mono, "Courier New", monospace);
  margin-top: 2%;
  line-height: 1.5;
}

@media (min-width: 300px) and (max-width: 550px) {
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titre {
    font-size: 2rem;
    font-weight: 200;
  }
  .photoContainer {
    width: 100%;
    min-height: 250px;
  }
}

@media (min-width: 550px) and (max-width: 780px) {
  .parent {
    height: 100vh;
  }
  .photoContainer {
    width: 100%;
    max-height: 45vh;
    min-height: 450px;
  }

  .firstPart {
    padding-bottom: 2%;
  }

  .descContainer {
    margin-bottom: 5%;
  }
}

@media (min-width: 780px) and (max-width: 980px) {
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descContainer {
    width: 85%;
    line-height: 2;
  }

  .photoContainer {
    width: 90%;
    max-height: 45vh;
    min-height: 45vh;
    max-width: 90%;
  }
}
