.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    height: 50vh;
    width: 90%;

}

.galleryItem {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
