.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: red;

}

.galleryItem {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: blue;

}
