/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 100vw;
  height: 10vh;
  /* padding: 1.25rem 2.5rem; */
  border-bottom: 2px solid;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  z-index: 10;
}

.logo {
  flex-shrink: 0;
}

.menuIcon {
  height: 2.5rem;
  width: 2.5rem;
}

.menu {
  flex-grow: 1;
}

.navBase {
  display: none; /* Caché par défaut */
}

.navOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navList {
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-mono);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  position: relative;
}

.navLink {
  display: inline-block;
  padding: 10px;
  border-radius: 0.375rem;
  color: black;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  line-height: normal;
}

.navLink:hover {
  background-color: #e0f2fe;
  color: black;
}

.activeLink {
  background-color: #e0f2fe;
  color: black;
}

.submenu {
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  width: 15rem;
  padding: 0.5rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
  z-index: 15;
  background-color: white;
}

.submenu li + li {
  margin-top: 0.75rem;
}

.submenuLink {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: white;
}

.submenuLink:hover {
  background-color: #bae6fd;
  color: black;
}

.activeSubmenuLink {
  background-color: #e0f2fe;
}

/* MEDIA QUERIES */
@media (min-width: 300px) and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
  }
  .logoAndMobilemenucontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .navOpen {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navBase {
    display: flex;
  }
  .navList {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-evenly;
  }
  .logo {
    max-height: 100%;
    min-width: 10%;
  }
  .navList {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    width: 90%;
  }
  .navBase {
    display: flex;
  }

  .menuButton {
    display: none; /* Caché sur md et plus */
  }
}
@media (min-width: 1500px) {
  .navLink {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .navLink {
    font-size: 1.5rem;
  }
}
