/* ========== Base (Large) ≥ 1200px ========== */
.matContainer {
  padding: 2%;
  width: 100%;
  height: auto;
}
.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  height: auto;
}

.photoContainer {
  position: relative;
  width: 30vw;
  height: 90vh;
}

.nomContainer {
  position: absolute;
  font-family: var(--font-combine);
  font-size: 4rem;
  font-weight: 200;
  color: #a2d2ff;
  top: 2%;
  left: 5%;
  line-height: 1.5;
}

.nomFamille {
  margin-top: 20px;
  color: #a2d2ff;
}

.bioTitle {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: var(--font-geist-mono, "Courier New", monospace);
  color: #a2d2ff;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  height: auto;
}

.texteBio {
  margin-top: 2%;
  text-indent: 5%;
  line-height: 1.5;
  font-size: 1em;
  font-family: var(--font-geist-mono, "Courier New", monospace);
}

.zigZag {
  margin-top: 2%;
  --a: 90deg;
  --s: 100px;
  --b: 25px;
  background: #a2d2ff;
  height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  width: 100%;
  --_g: var(--s) repeat-x
    conic-gradient(
      from calc(var(--a) / -2) at bottom,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask: 50% calc(-1 * var(--b)) / var(--_g) exclude, 50% / var(--_g);
}

/* ========== Very Large (≥1920px) ========== */
@media (min-width: 1920px) {
  .photoContainer {
    width: 40vw;
    height: 85vh;
  }
  .nomContainer {
    font-size: 6rem;
  }

  .bioTitle {
    font-size: 3.5rem;
  }

  .texteBio {
    font-size: 1.1em;
  }
  .bio {
    width: 40vw;
  }
}

@media (min-width: 1200) and (max-width: 1919px) {
  .photoContainer {
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    height: 60vh;
  }

  .nomContainer {
    font-size: 3rem;
    top: 5%;
    left: 10%;
  }

  .bio {
    margin-left: 2%;
    width: 80%;
    height: auto;
  }

  .bioTitle {
    font-size: 2.5rem;
    margin-top: 2%;
  }

  .texteBio {
    font-size: 1em;
  }
}

/* ========== Medium (769px à 1199px) ========== */
@media (min-width: 769px) and (max-width: 1199px) {
  .photoContainer {
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    height: 65vh;
  }

  .nomContainer {
    font-size: 3rem;
    top: 5%;
    left: 10%;
  }

  .bio {
    margin-left: 2%;
    width: 80%;
    height: auto;
  }

  .bioTitle {
    font-size: 2.5rem;
    margin-top: 2%;
  }

  .texteBio {
    font-size: 1em;
  }

  .zigZag {
    margin-top: 5%;
    --s: 80px;
    --b: 20px;
  }
}

/* ========== Small (481px à 768px) ========== */
@media (min-width: 481px) and (max-width: 768px) {
  .mainContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .photoContainer {
    max-height: 10vh;
    min-height: 85vh;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .nomContainer {
    font-size: 3rem;
    top: 5%;
    left: 5%;
  }

  .bio {
    width: 100%;
    margin-left: 0;
    height: auto;
    margin-top: 5%;
  }

  .bioTitle {
    font-size: 2rem;
    margin-top: 5%;
  }

  .texteBio {
    font-size: 0.95em;
  }

  .zigZag {
    display: none;
  }
}

/* ========== Very Small (≤480px) ========== */
@media (max-width: 480px) {
  .mainContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2%;
  }

  .matContainer {
    padding: 0;
    padding: 5%;
  }

  .photoContainer {
    padding: 2%;
    margin-bottom: 5%;
    max-height: 10vh;
    min-height: 85vh;
    min-width: 95%;
    max-width: 95%;
  }

  .nomContainer {
    text-align: center;

    font-size: 2.5rem;
    top: 5%;
    left: 5%;
  }

  .bio {
    min-width: 100%;
    padding: 2%;
  }

  .bioTitle {
    font-size: 1.5rem;
    margin-top: 5%;
  }

  .texteBio {
    font-size: 0.9em;
  }

  .zigZag {
    margin-top: 10%;
    --s: 30px;
    --b: 10px;
  }
}
