.container {
  width: 100vw;
  height: 100vh;
  padding: 10%;

  background: #efb1ff;
  background: -webkit-linear-gradient(0deg, #efb1ff 0%, #ffe2ff 100%);
  background: linear-gradient(0deg, #efb1ff 0%, #ffe2ff 100%);
}
