/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500; 
  width: 100vw;
  padding: 1.25rem 2.5rem; 
  /* border: 2px solid currentColor; border-2 */
  border-bottom: 2px solid;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95); 
  color: black;
  z-index: 10;
}

.logo {
  flex-shrink: 0;
}

.menuButton {
  display: block; /* Visible sur mobile */
}

@media (min-width: 768px) {
  /* md: breakpoint */
  .menuButton {
    display: none; /* Caché sur md et plus */
  }
}

.menuIcon {
  height: 1.5rem; 
  width: 1.5rem; 
}

.menu {
  flex-grow: 1;
}

.navBase {
  display: none; /* Caché par défaut */
}

@media (min-width: 768px) {
  .navBase {
    display: flex; /* Affiché sur les écrans md et plus */
  }
}

.navOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.navList {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
  list-style: none; /* Ajouté pour supprimer les puces */
  padding: 0; /* Enlever le padding par défaut */
  margin: 0; /* Enlever la marge par défaut */
}

@media (min-width: 768px) {
  .navList {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
}

.navItem {
  position: relative;
}

.navLink {
  display: inline-block;
  padding: 1rem; /* p-4 */
  border-radius: 0.375rem; /* rounded-md */
  text-align: justify;
  color: black;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px; /* Ajustez la taille selon vos besoins */
  font-family: inherit; /* Assure que la police est héritée du parent */
  line-height: normal; /* Réinitialise la hauteur de ligne si nécessaire */
}

.navLink:hover {
  background-color: #e0f2fe; 
  color: black;
}

.activeLink {
  background-color: #e0f2fe; 
  color: black;
}

.submenu {
  position: absolute;
  left: 0;
  margin-top: 0.5rem; 
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
  border-radius: 0.375rem;
  width: 15rem; 
  padding: 0.5rem; 
  list-style: none; /* Ajouté pour supprimer les puces */
  padding-left: 0; /* Enlever le padding par défaut */
  margin: 0; /* Enlever la marge par défaut */
}

.submenu li + li {
  margin-top: 0.75rem; 
}

.submenuLink {
  display: block;
  padding: 0.5rem; 
  border-radius: 0.375rem;
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.submenuLink:hover {
  background-color: #bae6fd; 
  color: black;
}

.activeSubmenuLink {
  background-color: #e0f2fe; 
}
